<html>
  <head>
    <title>Message HTML Title</title>
  </head>
  <body>
    <div>
      <h2 style="padding-bottom: 2%;">Hi there, {{username}}! </h2>
      <p>
        You requested our reset password service. <br>
        
        To do so, click on the link below: <br>
        <br>
        <a href="">{{link}}</a> <br>
        <br>
        And insert your secret token: <strong>{{token_secret}}</strong>
        <br>
        This link is going to be valid for just 10 minutes, if by any chance you couldn't be able to access it, please, 
        request our reset password service again. <br>
        <br>
        If this isn't you, please, ignore this message.
      </p>
    </div>
  </body>

  <footer style="padding-top: 5%;">
    <span>Regards, <br>
    <br>
    <br>
    <strong>MyGamesList's Team Support.</strong>
    </span>
  </footer>
</html>